healthsea_dataset.json
product_info.xlsx
key.txt
products.json
__pycache__
data/html/*.json
data/html
product_url.json
product_reviews.json
cache.json
iherb_raw
.DS_Store
raw_dataset.json
cleaned_cache.json
processed_cache.json
dataset.json
working_env
_archive
.mypy_cache
key
data_generation
count_data.py
get_vectors.py